<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.sqlite.JDBC" />
		<!-- <property name="url" -->
		<!-- value="jdbc:sqlite:data//parroquia.sqlite" /> -->
		<property name="url"
			value="jdbc:sqlite:data//parroquia_development.sqlite" />
		<property name="username" value="" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/breakdark/certificados_parroquia_vc/model/Bautismo/Bautismo.hbm.xml
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect
				</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">false</prop>
<!-- 				<prop key="hibernate.show_sql">true</prop> -->
			</props>
		</property>
	</bean>

	<bean id="bautismoDAO"
		class="com.breakdark.certificados_parroquia_vc.model.Bautismo.BautismoDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="bautismoService"
		class="com.breakdark.certificados_parroquia_vc.model.Bautismo.BautismoService">
		<property name="bautismoDAO" ref="bautismoDAO" />
	</bean>

	<bean id="dbUtil" class="com.breakdark.certificados_parroquia_vc.model.DbUtil"
		init-method="initialize">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Asociamos las vistas -->
	<bean id="framePrincipal"
		class="com.breakdark.certificados_parroquia_vc.view.FramePrincipal">
		<property name="bautismoService" ref="bautismoService" />
	</bean>

</beans>
